:root {
  --dark: #1b1a17;
  --darkOrange: #f0a500;
  --tOrange: #e45826;
  --light: #e6d5b8;
}

* {
  margin: 0;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
}

body {
  background-image: url(https://wallpaperaccess.com/full/7026844.jpg);
  background-size: contain;
  /* height: 250vh; */
  height: auto;
  width: 100vw;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
}

header {
  width: 100%;
  background-color: rgba(7, 113, 20, 0.203);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  position: relative;
  font-size: 7vw;
  color: #154e05;
  -webkit-text-stroke: 0.3vw #20b512f4;
  text-transform: uppercase;
}

p {
  color: aliceblue;
}

.header ul {
  text-align: center;
}
.header ul li {
  list-style: none;
  display: inline-block;
}

.header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(251, 251, 255);
  font-size: 20px;
  letter-spacing: 2px;
  padding: 25px;
}

.header ul li a :hover {
  font-size: 200%;
  color: red;
}

.main-banner {
  background-image: url(https://i.pinimg.com/originals/13/31/20/13312045ba691fcb8d1fbae330d937e0.gif);
  background-size: contain;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 100;
}

.banner-title {
  padding: 15px;

  position: relative;
  font-size: 2vw;
  color: #154e05;
  -webkit-text-stroke: 0.05vw #20b512f4;
  text-transform: uppercase;
}

.banner-item-1 {
  color: azure;
  padding: 20px;
  margin-top: 100px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.project-title {
  color: #20b512f4;
  margin-left: 630px;
  padding: 30px;
  font-size: 20px;
}

.main-projects {
  padding: 30px;
  color: azure;
  position: relative;
  width: 10rem;
  object-fit: contain;
}
.main-projects img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.all-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all-title {
  color: #20b512f4;
  margin-left: 630px;
  padding: 10px;
  font-size: 20px;
}

.all-projects {
  padding: 30px;
  color: azure;
  position: relative;
  width: 10rem;
  object-fit: contain;
}

.all-projects img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: azure;
}
.more-projects {
  color: (147, 237, 189);
  margin-left: 970px;
  padding: 30px;
  font-size: 20px;
}
.contact-me {
  position: absolute;
  margin-left: 630px;
}
.contact-title {
  font-size: 40px;
  color: #20b512f4;
}
