:root {
  --dark: #1b1a17;
  --darkOrange: #f0a500;
  --tOrange: #e45826;
  --light: #e6d5b8;
}

* {
  margin: 0;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
}

body {
  background-image: url(https://wallpaperaccess.com/full/7026844.jpg);
  background-size: contain;
  /* height: 250vh; */
  height: auto;
  width: 100vw;
  font-family: "Merriweather", serif;
  font-family: "PT Sans", sans-serif;
}

header {
  width: 100vw;
  height: 3.5rem;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #154e05;
  position: fixed;
  z-index: 10;
}

h1 {
  position: relative;
  font-size: 7vw;
  color: #154e05;
  -webkit-text-stroke: 0.3vw #20b512f4;
  text-transform: uppercase;
}

p {
  color: aliceblue;
  font-size: 25px;
}

hr {
  color: #154e05;
  size: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 50px;
}

.nav-item {
  margin: 20px;
}

.nav-anchor {
  color: azure;
  text-decoration: none;
}

.main-banner {
  margin-top: 2.8rem;
  background-image: url(https://i.pinimg.com/originals/13/31/20/13312045ba691fcb8d1fbae330d937e0.gif);
  background-size: contain;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.aboutme {
  margin: 2rem;
}

.about-title {
  padding: 0.625rem;

  position: relative;
  font-size: 4.375rem;
  color: #154e05;
  -webkit-text-stroke: 0.05vw #20b512f4;
  text-transform: uppercase;
  margin-top: 3.124rem;
}

.aboutme-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.125rem;
}

.aboutme-item-1 {
  color: azure;
  padding: 2.25rem;
  margin-top: 0.391rem;
}

.featured-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.25rem;
}

.project-title {
  color: #20b512f4;
  margin-left: 39.375rem;
  padding: 1.875rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
}

.project-card {
  padding: 1.875rem;
  color: azure;
  position: relative;
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}

.project-one-resize {
  width: 12rem;
  height: 17rem;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.625rem;
}

.project-card :hover {
  width: 120%;
  height: 115%;
  cursor: pointer;
}

.all-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.all-title {
  color: #20b512f4;
  margin-left: 39.375rem;
  padding: 1.875rem;
  font-size: 1.25rem;
}

.contact-me {
  position: absolute;
  align-items: center;
}
.contact-title {
  font-size: 2.25rem;
  color: #20b512f4;
}

.footer {
  padding: 25px;
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #154e05;
}

.footer-icon {
  margin: 20px;
  margin-left: 3rem;
}
.footer-icon a {
  text-decoration: none;
  color: green;
}
.footer-icon:hover a {
  cursor: pointer;
  color: azure;
}
.footer-icon i {
  font-size: 3rem;
}

@media only screen and (max-width: 596px) {
  header {
    height: 16rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .main-banner {
    margin-top: 16rem;
    text-align: center;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .featured-projects {
    flex-direction: column;
    align-items: center;
  }
  .all-projects {
    flex-direction: column;
    align-items: center;
  }
  .all-title {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    margin-top: 19rem;
    flex-direction: column;
    align-items: center;
  }
  .name {
    margin: 0px;
  }

  .contact-me {
  }

  .footer i {
    font-size: 2.5rem;
  }

  .project-title {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
}
